*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato";
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#555;
    background-color: #ecf0f3;
}

.num{
    width:430px;
    height:530px;
    padding:60px 35px 35px 25px;
    border-radius: 40px;
    background-color:#ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;

}

.logo{
    background:url(number.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaa7;
}

.title{
    text-align: center;
    font-size: 30px;
    padding-top:24px;
    letter-spacing: 0.5px;
}

.fields{
    width:100%;
    padding:75px 2px;
}

.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color:#555;
    padding:20px 10px 20px 5px;
}

img{
    position: relative;
    margin-top: 15px;
    margin-bottom: 0px;
    height: 45px;
    width: 45px;
}

.input-user,
.output-user{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px 8px 8px #fff ;
}

.convert{
    position: relative;
    bottom:40px;
    outline:none;
    border:none;
    cursor:pointer;
    width:100%;
    height:60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato";
    color:#fff;
    text-align: center;
    background-color:#02c8db;
}

span{
    font-size: 23px;
}
